<div class="main-container">
      <br />
      <br>
  <div class="container login-container login-div">
    <br />
    <br>
    <p class="mini-title">Already have an account? </p>
  <h3 class="mini-title">LOGIN!</h3>
  <form action='/login' method="POST">
    <label>
      <input type="text" name="username" placeholder="Enter username" required>
    </label>
    <br />
    <br>
    <label>
      <input type="password" name="password" placeholder="Enter password" required>
    </label>
    <br />
    <br>
    <button type="submit" class="btn-login">Login</button>
      <br />
      <br>
    {{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
    {{/if}}
  </form>
  </div>
    <br />
    <br>

  <div class="container login-container">
        <br />
        <br>
    <p class="mini-title">First time? </p>
    <h3 class="mini-title">SIGN UP!</h3>
  
    <form action='/signup' method="POST">
      <label>
        <input type="text" name="username" placeholder="Enter username" required>
      </label>
      <br />
      <br>
      <label>
        <input type="email" name="email" placeholder="Enter email" required>
      </label>
      <br />
      <br>
      <label>
        <input type="password" name="password" placeholder="Enter password" required>
      </label>
      <br />
      <br>
      <label>
        <input type="location" name="location" placeholder="Enter default location" required>
      </label>
            <br />
            <br>
      <label>
        Enroll to receive our latest news!
        <input type="checkbox" name="newsLetter" id="newsLetter-input">
      </label>
      <br />
      <br>
      <button type="submit" class="btn-login">Register</button>
          <br />
          <br>
      {{#if errorMessage}}
      <div class="error">{{errorMessage}}</div>
      {{/if}}
    </form>
  </div>
        <br />
        <br>
</div>