<div class="main-container">
      <br />
      <br>
  <div class="container">
    <br />
    <br>
    <p>Already have an account? </p>
  <h3>LOGIN!</h3>
  {{!-- We are createing a session --}}
  <form action='/login' method="POST">
    {{!-- we are persisting something so it is a POST --}}
    <label>
      Username
      <input type="text" name="username" placeholder="Enter username" required>
    </label>
    <br />
    <br>
    <label>
      Password
      <input type="password" name="password" placeholder="Enter password" required>
    </label>
    <br />
    <br>
    <button type="submit">Login</button>
      <br />
      <br>
    {{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
    {{/if}}

  </form>
  </div>
    <br />
    <br>
  <div class="container">
        <br />
        <br>
    <p>First time? </p>
    <h3>SIGN UP!</h3>
  
    <form action='/signup' method="POST">
      {{!--  route where you will fall when you submit the form "action" --}}
      <label>
        Username
        <input type="text" name="username" placeholder="Enter username" required>
        {{!-- required!! For FrontEnd validations --}}
      </label>
      <br />
      <br>
      <label>
        Email
        <input type="email" name="email" placeholder="Enter email" required>
        {{!-- type email!! and REQUIRED For FrontEnd validations --}}
      </label>
      <br />
      <br>
      <label>
        Password
        <input type="password" name="password" placeholder="Enter password" required>
        {{!-- type password!! and REQUIRED For FrontEnd validations --}}
      </label>
      <br />
      <br>
      <label>
        Location
        <input type="location" name="location" placeholder="Enter default location">
      </label>
      <br />
      <br>
      <button type="submit">Register</button>
          <br />
          <br>
      {{#if errorMessage}}
      <div class="error">{{errorMessage}}</div>
      {{/if}}
    
    </form>
  
  </div>
        <br />
        <br>
</div>