<div class="container intro-container">
  <div class="intro">
    <img class="main-logo" src="images/logo-branco.png">
    <p class="subtitle">{{subtitle}}!</p>
    <hr/ class="intro-line">
    <br>
    {{#if user}}
    <button class="btn-enter"><a class="btn-enter" href="/profile"><strong>Access</strong></a></button>
    {{else}}
    <button class="btn-enter"><a  class="btn-enter" href="/login"><strong>Access</strong></a></button>
    {{/if}}
      <br/>
      <br>
    <p class="intro-desc">Your farmer´s markets guide</p>
</div>

<div class="main-img">
  <img class="main-img img-responsive" src="images/market.jpg">
</div>


<div class="section3">
  <h3 class="news">Because buying local is Good for...</h3>

    <section id="slide3">
      <div class="flex-work">

        <div class="each">
          <img class="large-icon healthy" src="images/health.jpg" alt="Health">
          <h4>your health</h4>
          <p class="bloggy">Locally grown foods will likely be organic and seasonal, despite being uncertified due to cost.</p>
        <h6>High quality produce.</h6>
        </div>

        <div class="each">
          <img class="large-icon" src="https://img.icons8.com/bubbles/64/000000/conference-call.png" alt="Community"/>
          <h4>the community</h4>
          <p class="bloggy">Supporting farmers and short circuits between producer and consumer ensures that
          capital remains in the community.</p>
          <h6>Strengthens the local economy.</h6>
        </div>

        <div class="each">
          <img class="large-icon" src="https://img.icons8.com/clouds/64/000000/floating-island-forest.png" alt="Planet">
          <h4>the planet</h4>
          <p class="bloggy">Transporting the produce from the garden to your fridge comes at a much lower price to the environment.</p>
            <h6>As grown locally.</h6>
        </div>

        <div class="each">
          <img class="icon" src="https://img.icons8.com/dusk/64/000000/wallet-app.png" alt="wallet">
          <h4>your wallet</h4>
          <p class="bloggy"> Buying at the farmers' market or food co-op
          is cheaper than a conventional grocery store.</p>
         <h6>It can save you money.</h6> 
        </div>

      </div>
    </section>

    </div>

  <div class="row">
    <div class="section-title col-12">
      <h3 class="news"> Up and Coming </h3>
    </div>

    <div class="container row boxitems">
      <div class="col-sm-6 postbox">
        <div class="hthumb">
          <img src="images/box.jpg" class="img-thumbnail img-responsive" alt="Veg-box">
        </div>
        <h4 class="news-title">Veggie-box delivery</h4>
        <p class="blog">Regular on-request eco-delivery of local produce to promote "From farm to table" systems. 
          Working with local delivery co-ops that prioritize sustainable transportation methods.[…]</p>
      </div>

      <div class="col-sm-6 postbox">
        <div class="hthumb">
          <img src="images/local.jpg" class="img-thumbnail img-responsive shopping" alt="Shopping">
        </div>
        <h4 class="news-title">Farmer´s services</h4>
        <p class="blog">To support the local economy on a first-hand basis, we are currently working on a 
          providers portal to empower local producers and to improve their online presence through marketing services and
          e-commerce services.[…]</p>
      </div>

     

     
    </div>
  </div>

      <h3 class="news">Community. Resilience</h3>

</div>

   