<div class="container intro-container">
  <div class="intro">
    <img class="main-logo" src="images/logo-branco.png">
    <p class="subtitle">{{subtitle}}!</p>
    <hr/ class="intro-line">
    <br>
    {{#if user}}
    <button class="btn-enter"><a class="btn-enter" href="/profile"><strong>Access</strong></a></button>
    {{else}}
    <button class="btn-enter"><a  class="btn-enter" href="/login"><strong>Access</strong></a></button>
    {{/if}}
      <br/>
      <br>
    <p class="intro-desc">Your farmer´s markets guide</p>
</div>

<div class="main-img">

  <img class="main-img" src="images/market.jpg">
</div>
</div>

   