<div class="container">
  <br />
  <br>
  <div class="intro">
        <br />
        <br>
<h1 class="title">{{title}}</h1>
<p class="subtitle">{{subtitle}}!</p>
<hr/>
<p class="intro-desc">Your neighborhood guide</p>
    <br />
    <br>
</div>

<div>
      <br />
      <br>
{{#if user}}
<button><a class="btn-enter" href="/profile">Enter</a></button>

{{else}}
<button><a class="btn-enter" href="/login">Enter</a></button>
{{/if}}
      <br/>
      <br>
</div>
</div>