<div class="container intro-container">
  <div class="intro">
    <img class="main-logo" src="images/logo-branco.png">
    <p class="subtitle">{{subtitle}}!</p>
    <hr/ class="intro-line">
    <br>
    {{#if user}}
    <button class="btn-enter"><a class="btn-enter" href="/profile"><strong>Access</strong></a></button>
    {{else}}
    <button class="btn-enter"><a  class="btn-enter" href="/login"><strong>Access</strong></a></button>
    {{/if}}
      <br/>
      <br>
    <p class="intro-desc">Your farmer´s markets guide</p>
</div>

<div class="main-img">
  <img class="main-img" src="images/market.jpg">
</div>

<div class="section3">
  <h3>Because buying local is Good for...</h3>

    <section id="slide3">
      <div class="flex-work">
        <div class="each">
          <img src="images/zero-configuration.svg" alt="Pocket">
          <h4>your pocket</h4>
          <p>Create an org, add your team, and start collaborating. Nothing to configure, set up, or manage.</p>
        </div>
        <div class="each">
          <img src="images/team-management.svg" alt="Health">
          <h4>your health</h4>
          <p>Control who has access to what modules within your team namespace using straightforward team management
            capabilities.</p>
        </div>
        <div class="each">
          <img src="images/familiar-features.svg" alt="Community">
          <h4>the community</h4>
          <p>npm Orgs has 100% parity with all the public npm registry features your developers already use.</p>
        </div>
        <div class="each">
          <i class="fas fa-globe-africa"></i>
          <h4>the planet</h4>
          <p>Enjoy the security auditing features built into the npm client, a zero-friction way to make open source
            software safer.</p>
        </div>
      </div>
    </section>

      <h3>Community. Resilience</h3>

    </div>
</div>

   