<div class="container intro-container">
  <div class="intro">
    <img class="main-logo" src="images/logo-branco.png">
    <p class="subtitle">{{subtitle}}!</p>
    <hr/ class="intro-line">
    <br>
    {{#if user}}
    <button class="btn-enter"><a class="btn-enter" href="/profile"><strong>Access</strong></a></button>
    {{else}}
    <button class="btn-enter"><a  class="btn-enter" href="/login"><strong>Access</strong></a></button>
    {{/if}}
      <br/>
      <br>
    <p class="intro-desc">Your farmer´s markets guide</p>
</div>

<div class="main-img">
  <img class="main-img" src="images/market.jpg">
</div>





<div class="section3">
  <h3>Because buying local is Good for...</h3>

    <section id="slide3">
      <div class="flex-work">

        <div class="each">
          <img class="large-icon healthy" src="images/health.jpg" alt="Health">
          <h4>your health</h4>
          <p>Locally grown foods will likely be organic and seasonal despite being uncertified due to cost.</p>
        <h6>High quality produce.</h6>
        </div>

        <div class="each">
          <img class="large-icon" src="https://img.icons8.com/bubbles/64/000000/conference-call.png" alt="Community"/>
          <h4>the community</h4>
          <p>Supporting farmers and short circuits between producer and consumer ensures that
          capital remains in the community.</p>
          <h6>Strengthens the local economy.</h6>
        </div>

        <div class="each">
          <img class="large-icon" src="https://img.icons8.com/clouds/64/000000/floating-island-forest.png" alt="Planet">
          <h4>the planet</h4>
          <p>Transporting the produce from the garden to your fridge comes at a much lower price for the environment.</p>
            <h6>As growned locally.</h6>
        </div>

        <div class="each">
          <img class="icon" src="https://img.icons8.com/dusk/64/000000/wallet-app.png" alt="wallet">
          <h4>your wallet</h4>
          <p> Buying at the farmers' market food co-op
          is cheaper than a conventional grocery store.</p>
         <h6>It can save you money.</h6> 
        </div>

      </div>
    </section>
      <h3>Community. Resilience</h3>

    </div>

</div>

   