<div class="container intro-container">
  <br>
  <br>
  <div class="intro">
    <br>
    <br>
    <img src="images/logo-branco.png">
    <p class="subtitle">{{subtitle}}!</p>
    <hr/>
    <br>
    {{#if user}}
    <button class="btn-enter"><a class="btn-enter" href="/profile">Access</a></button>
    {{else}}
    <button class="btn-enter"><a  class="btn-enter" href="/login">Access</a></button>
    {{/if}}
      <br/>
      <br>
    <p class="intro-desc">Your neighborhood guide</p>
    <br>
    <br>
</div>

</div>

   