<h4 class="profile-header">{{user.username}} Profile</h4>
<div class="container">
    <section class="profile-information dark-background">
          <article class="container profile-info map">
            <div class="map-search">
            <h3>Map</h3>
            <form>
              <label>
                <input type="text" name="location" placeholder="Enter location" required>
              </label>
            </form>
            <button type="submit" onclick="getCurrentLocation()">Get current location</button>
            </div>
            <div id="map"></div>
          </article>
          <article class="container profile-info">
            <h3>Favorite Shops!</h3>
            <p class="text-look">Favorite shops go here</p>
            <a class="link-btn" href="#">Test Link</a>
          </article>
          <article class="container profile-info">
            <h3>Favorite Farmers Markets</h3>
            <p class="text-look">Transit options go here</p>
            <a class="link-btn" href="#">Test Link</a>
          </article>
    </section>
</div>

<script>
function getCurrentLocation() {
navigator.geolocation.getCurrentPosition((position) => {
const pos = {
lat: position.coords.latitude,
lng: position.coords.longitude
}
map.setCenter(pos);
map.setZoom(17);
});
}
</script>
