body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  padding: 10px;
}

.title {
  font-size: 45px;
}
.subtitle {
  color: white;
  font-size: 20px;
}

nav {
  margin: 0 20px 20px;
}

.yelp-display {
  overflow:hidden; overflow-y:scroll;
}





.intro-desc {
  color: white;
  font-size: 30px;
}

.container {
  background-color: black;
  color: white;
 

  padding-left: 50px;
  padding-right: 50px;
}

.main-container {
  padding: 50px;
  display: flex;
}

.profile-information {
  display: flex;
  flex-direction: row;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.profile-info {
  background-color: white;
  height: 400px;
  margin: 20px;
  padding: 20px;
  box-shadow: -10px -10px rgb(194, 194, 194);
}

.profile-info p, h3, p {
  color: black;
}

.profile-header {
  margin-left: 22px;
}

.yelp-display img {
  width: 20%;
}
