@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  background-color: white;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
}

.intro-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-logo {
  display: flex;
 margin: auto;

}

.title {
  font-size: 45px;
}

.subtitle {
  color: black;
  font-size: 20px;
  text-align: center;
}

.intro-line {
  border: 2px solid #39AFEA;
}

.intro-desc {
  color: black;
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
}

a {
  color: black;
  padding: 30px;
  font-size: 18px;
}

a:hover {
  color: #39AFEA;
  text-decoration: none;
}

.btn-enter {
  padding: 5px 30px;
  border-radius: 3px;
  border: none;
  color: #39AFEA;
  font-size: 18px;
  margin: 0 auto;
  display: block;
}

.btn-enter:hover {
  text-decoration: none;
}

.main-img {
  max-width: 100%;
  align-items: center;
  border: 3px solid #253131;
  margin: auto;
}

/* NAV BAR */
.navbar {
  padding: 0px;
}

.navbar-expand-lg .navbar-collapse {
  margin-left: 155px;
}

.navbar-brand {
  margin-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

nav {
  margin: 0px;
}
.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-left: 70%;
}

.nav-link {
  margin: 5px;
  padding-top: 13px;
}


.mini-logo {
  width: 120px;
  margin-left: 22px;
}

/* LOGIN */

.main-container {
  padding: 50px 150px;
  display: flex;
}

.login-container {
  color: white;
  background-color: #3AB0EA;
  padding: 20px 50px;
  text-align: center;
}

.mini-title {
  color: white;
}

/* MAIN */

input {
  padding: 8px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px rgba(246, 248, 250);
  text-align: center;
  color: black
}

.btn-login {
  padding: 5px 30px;
  border-radius: 3px;
  border: none;
  color: #3AB0EA;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  width: 150px;
}

.login-div {
  padding-top: 5%;
}

.vertical-line {
  border-left: 6px solid rgb(255, 255, 255);
  height: 350px;
  position: absolute;
  left: 50%;
  margin-top: 160px;
  top: 0;
}

/* profile styling */

/* map section and main container styling */

.fav-list-header {
  margin: 0px 0px 17px 0px;
  position: absolute;
  background-color: white;
  width: 25%;
  height: 7%;
  padding: 11px 0px 0px 0px;
}

.profile-container {
  color: black;
  margin-top: 10px;
}

.profile-container h1 {
  margin-left: 6.5%;
  padding: 0 0 15px 0;
}

.profile-information {
  display: flex;
  flex-direction: row;
  height: 600px;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  padding: 35px;
  width: 90%;
}

.dark-background {
  background-color: #3AB0EA;
}

.btn-fav {
  border: none;
  display: flex;
  align-items: flex-end;
  border-radius: 3px;
  margin: auto;
  color: #39AFEA;
  padding: 5px 30px;
  margin-top: 5px;
}

.profile-info {
  background-color: white;
  height: 500px;
  margin: 0px 20px;
  padding: 20px;
  box-shadow: -10px -10px #C1D4E9;
}

.profile-info input {
  width: 100%;
  height: 30px;
  background-color: rgba(0,0,0,.05);
  border: 0px;
  margin:  4% ;
  border-radius: 3px 0px 0px 3px;
}

.move-input {
  margin: 0px 0px 0 20px; 
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6197B9;
  color: white;
  border: 0px;
  padding: 15px;
  width: 100px;
  height: 25px;
  border-radius: 0px 3px 3px 0px;
  margin-right: 30px;
}

.neighborhood-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3B8E83;
  color: white;
  border: 0px;
  padding: 15px;
  width: 100px;
  height: 25px;
  font-size: .8em;
  border-radius: 0px 3px 3px 0px;
}


.location-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#6197B9;
  color: white;
  border: 0px;
  padding: 15px;
  width: 120px;
  height: 25px;
  font-size: .7em;
  border-radius: 3px;
}

.favorites-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6197B9;
  color: white;
  border: 0px;
  padding: 15px;
  width: 100px;
  height: 25px;
  font-size: .8em;
  border-radius: 3px 0px 0px 3px;
}

.profile-info p,
h3,
p {
  color: black;
}

.profile-header {
  margin-left: 22px;
}

.map {
  width: 2500px;
}

#map {
  height: 380px;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 14px;
}

.map-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.markets {
  overflow: scroll;
  width: 130%;
}

/* Market and Fav side bar */
.market-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: .8em;
}

.market-info div {
  margin: 10px;
}

.market-image {
  width: 200px;
  margin-right: 20px;
  object-fit: cover;
  object-position: 20px 10px;
  flex-grow:1;
}

.market-image img {
  
  flex-grow:1;
  width: 100%;
  margin: 20px 20px;
  object-fit: cover;
  
  border: 2px solid #C1D4E9;
  box-shadow: -10px -10px #C1D4E9;
}

.each hr {
  border: 2px solid #214252;
}

.align-favs {
  text-align: left;
}

/*footer styling */

.social-media {
  margin: 20px;
  align-items: center;
  text-align: center;
  font-size: 20px;

}

footer {
  margin-top: 5px;
  margin-bottom: 0px;
  bottom: 0;
  width: 100%;
  background-color: #39AFEA;
  padding-left: 40px;
  color: #f7f9f9;
  padding-top: 15px;
  padding-bottom: 10px;
}
.footer {
  color: white;
}
#footer{
  display: flex;
  justify-content: space-between;
}
#github-link {
  text-align: right;
  position: relative;
  font-size: 12px;  
}

#open-src {
  color: white;
  text-decoration: none;
  font-size: 12px;
  align-items: right;
  padding: 0px;
  color: #214252;
}

/* INDEX ADD ONS */

.news {
  background-color: #CEE1F4;
  transform: skew(9deg, 0deg);
  font-style: italic;
  text-align: center;
  margin: 5%;
  padding: 10px .05px;
  color: white;
}

.section3 {
max-width: 1000px;
text-align: center;
 margin: 0px auto;
}

#slide3 {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
}

#slide3>.flex-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  margin: 0px;
}
.each {
  margin: 15px;
  text-align: center;
}
.icon {
  width: 50px;
  margin-top: 5px;
}
 .healthy {
  margin-top: -16px
} 
.large-icon {
  width: 65px;
}


.blog {
  color: grey;
  font-size: 15px;
  margin-bottom: 30px;
  padding-left: 10px;
}
.img-thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  /* margin-top: 15px; */
}
.news-title {
  text-align: center;
}

.title {
  font-size: 45px;
}

/* profile styling */

/* map section and main container styling */

.profile-container {
  color: black;
  margin-top: 10px;
}

.profile-container h1 {
  margin-left: 6.5%;
  padding: 0 0 15px 0;
}

.profile-information {
  display: flex;
  flex-direction: row;
  height: 600px;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  padding: 35px;
  width: 90%;
}

.dark-background {
  background-color: #3AB0EA;
}

.btn-fav {
  border: none;
  display: flex;
  align-items: flex-end;
  border-radius: 3px;
  margin: auto;
  color: #39AFEA;
  padding: 5px 30px;
  margin-top: 5px;
}

.profile-info {
  background-color: white;
  height: 500px;
  margin: 0px 20px;
  padding: 20px;
  box-shadow: -10px -10px #C1D4E9;
}

.profile-info input {
  width: 100%;
  height: 30px;
  background-color: rgba(0,0,0,.05);
  border: 0px;
  margin:  4% ;
  border-radius: 3px 0px 0px 3px;
}

.move-input {
  margin: 0px 0px 0 20px; 
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6197B9;
  color: white;
  border: 0px;
  padding: 15px;
  width: 100px;
  height: 25px;
  border-radius: 0px 3px 3px 0px;
  margin-right: 30px;
}

.favorites-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6197B9;
  color: white;
  border: 0px;
  padding: 15px;
  width: 100px;
  height: 25px;
  font-size: .8em;
  border-radius: 3px 0px 0px 3px;
}

.profile-info p,
h3,
p {
  color: black;
}

.profile-header {
  margin-left: 22px;
}

.map {
  width: 2500px;
}

#map {
  height: 380px;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 14px;
}

.map-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Market and Fav side bar */

.markets {
  overflow: scroll;
  width: 130%;
}

.scroll-fixed {
  margin: -20px 0px 0px 0px;
  background-color: white;
  width: 200px;
  height: 20px;
}

.fav-list-header {
  margin: 0px 0px 17px 0px;
  position: absolute;
  background-color: white;
  width: 25%;
  height: 7%;
  padding: 11px 0px 0px 0px;
}

#list-markets {
  margin-top: 55px;
}


.market-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.market-info div {
  margin: 10px;
}

.market-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.market-image img {
  max-width: 100;
  max-height: 100;
}

.each hr {
  border: 2px solid #214252;
}

.fav-switch {
  background-color: #f6fbff;
  color: #39AFEA;
  width: 200px;
  border-radius: 3px;
  height: 20px;
}


/*footer styling */

.social-media {
  margin: 20px;
  align-items: center;
  text-align: center;
  font-size: 20px;

}

footer {
  margin-top: 5px;
  margin-bottom: 0px;
  bottom: 0;
  width: 100%;
  background-color: #39AFEA;
  padding-left: 40px;
  color: #f7f9f9;
  padding-top: 15px;
  padding-bottom: 10px;
}
.footer {
  color: white;
}
#footer{
  display: flex;
  justify-content: space-between;
}
#github-link {
  text-align: right;
  position: relative;
  font-size: 12px;  
}

#open-src {
  color: white;
  text-decoration: none;
  font-size: 12px;
  align-items: right;
  padding: 0px;
  color: #214252;
}

/* INDEX ADD ONS */

.news {
  background-color: #CEE1F4;
  transform: skew(9deg, 0deg);
  font-style: italic;
  text-align: center;
  margin: 5%;
  padding: 10px .05px;
}

.section3 {
max-width: 1000px;
text-align: center;
 margin: 0px auto;
}

#slide3 {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
}

#slide3>.flex-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  margin: 0px;
}
.each {
  margin: 15px;
  text-align: center;
}
.icon {
  width: 50px;
  margin-top: 5px;
}
 .healthy {
  margin-top: -16px
} 
.large-icon {
  width: 65px;
}

.bloggy {
  color: grey;
}

.blog {
  color: grey;
  font-size: 15px;
  margin-bottom: 30px;
  padding-left: 20px;
}
.img-thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

}
.news-title {
  text-align: center;
}
.shopping {
  padding: 20px;
  padding-bottom: 35px;
  margin-bottom: -24px;
}